body {
    width: 500px;
    font-family: "Courier New", Courier, monospace; 
    background-color: white; 
    color: black; 
    border: 2px solid black; 
    margin: 0 auto;
    box-shadow: 4px 4px 0px #afaeaead; 
}

button.emoji {
    margin: 5px;
    padding: 10px 15px;
    border: 2px solid #000;
    background-color: #E4E4E4; 
    color: black;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    text-transform: uppercase; 
    box-shadow: 2px 2px 0px #888; 
}

button.emoji:hover {
    background-color: #FFD700; 
    color: black;
}

#textmojiEditor {
    position: relative; 
    margin-bottom: 0;
}

#emojiPartDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 1px; 
    justify-content: flex-start; 
    align-items: center;
    z-index: 1; 
    background-color: white; 
    margin: 0 0 15px 0;
}

textarea#userTextmoji {
    width: 100%;
    max-width: 99%;
    max-height: 70px;
    background-color: #F8F8F8;
    color: black;
    border: 2px solid black;
    font-family: "Courier New", Courier, monospace;
}

button.emojiPart {
    padding: 10px 15px;
    border: 2px solid #000;
    background-color: #E4E4E4;
    color: black;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    text-transform: uppercase;
    width: 50px; 
    height: 50px; 
    display: inline-block; 
    text-align: center;
    line-height: 20px !important;
    margin: 0 0px; 
}


button.emojiPart:hover {
    background-color: #FFD700;
    color: black;
}
#eyesBtn, #armsBtn, #mouthBtn {
    background-color: #bfbeff;
    color: black;
}

#resetBtn{
    background-color: black;
    color: white;
}

#resetBtn:hover,button#copyTextMoji:hover {
    background-color: #FFD700;
    color: black;
}

#eyesBtn:hover, #armsBtn:hover, #mouthBtn:hover {
    background-color: #87CEEB; 
    color: black;
}

button#copyTextMoji{
    padding: 8px 16px;
    cursor: pointer;
    background-color: #ffffff; 
    color: black;
    border: 2px solid black;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px #888; 
    font-weight: 700;
    letter-spacing: 1px;
}



#textmojiEditor {
margin-bottom: 30px;
}







.filter-list {
    margin-bottom: 20px;
    padding: 5px 20px;
    border-bottom: 2px solid black; 
    background-color: #7876ff; 
    height: 50px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.filter {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #000000; 
    color: rgb(255, 255, 255);
    border: 2px solid black;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px #888; 
    letter-spacing: 1px;
    
}

.filter:hover {
    background-color: #87CEEB; 
    color: black;
}

.emoji-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
    margin:  25px 0 25px 0;
}

.hidden {
    display: none;
}



#toolboxDiv {
    margin: 0 20px 0 20px ;
    
}

#toolboxButton {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #ffffff; 
    color: black;
    border: 2px solid black;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px #888; 
    font-weight: 700;
    letter-spacing: 1px;
}




#textmojiEditor {
    margin-top: 15px;
}


button#addTextmoji {
    margin: 10px 0 10px 0;
    padding: 8px 12px;
    background-color: #d9adff;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px #888; 
    
}

button#addTextmoji:hover {
    background-color: #7876ff !important;
    color:white !important;

}

#addFilterDiv{
    margin-bottom: 20px;
}



#toolboxButton:hover {
    background-color: #FFD700; 
    color: black;
}


button#addTextmoji:hover {
    background-color: #87CEEB;
    color: black;
}

#addFilterDiv {
    margin-top: 10px;
}

button.filterAdd {
    padding: 8px 12px;
    background-color: #E4E4E4;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px #888;
}

button.filterAdd:hover {
    background-color: #FFD700; 
    color: black;
}

footer {
    background-color: #FFD700;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px; 
    border-top: 2px solid black;
}

footer div {
    display: flex;
}

footer p {
    margin: 0;
    padding: 10px;
    font-size: 13px;
    
}

footer p a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

footer p a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}


